In [3]:
import numpy as np
import pandas as pd

In [6]:
red_wine = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv', sep=';')

In [8]:
white_wine = pd.read_csv('winequality-white.csv', sep=';')

In [9]:
white_wine.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
5,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
6,6.2,0.32,0.16,7.0,0.045,30.0,136.0,0.9949,3.18,0.47,9.6,6
7,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
8,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
9,8.1,0.22,0.43,1.5,0.044,28.0,129.0,0.9938,3.22,0.45,11.0,6

In [10]:
white_wine.tail(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4888,6.8,0.220,0.36,1.20,0.052,38.0,127.0,0.99330,3.04,0.54,9.2,5
4889,4.9,0.235,0.27,11.75,0.030,34.0,118.0,0.99540,3.07,0.50,9.4,6
4890,6.1,0.340,0.29,2.20,0.036,25.0,100.0,0.98938,3.06,0.44,11.8,6
4891,5.7,0.210,0.32,0.90,0.038,38.0,121.0,0.99074,3.24,0.46,10.6,6
4892,6.5,0.230,0.38,1.30,0.032,29.0,112.0,0.99298,3.29,0.54,9.7,5
4893,6.2,0.210,0.29,1.60,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.320,0.36,8.00,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.240,0.19,1.20,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.290,0.30,1.10,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.210,0.38,0.80,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [11]:
red_wine.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5

In [12]:
red_wine.tail(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1589,6.6,0.725,0.20,7.8,0.073,29.0,79.0,0.99770,3.29,0.54,9.2,5
1590,6.3,0.550,0.15,1.8,0.077,26.0,35.0,0.99314,3.32,0.82,11.6,6
1591,5.4,0.740,0.09,1.7,0.089,16.0,26.0,0.99402,3.67,0.56,11.6,6
1592,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1593,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [ ]:
red_wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [ ]:
red_wine.shape

(1599, 12)

In [ ]:
red_wine.isna()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,False,False,False,False,False,False,False,False,False,False,False,False
1595,False,False,False,False,False,False,False,False,False,False,False,False
1596,False,False,False,False,False,False,False,False,False,False,False,False
1597,False,False,False,False,False,False,False,False,False,False,False,False
1598,False,False,False,False,False,False,False,False,False,False,False,False

In [13]:
red_wine.isnull()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,False,False,False,False,False,False,False,False,False,False,False,False
1595,False,False,False,False,False,False,False,False,False,False,False,False
1596,False,False,False,False,False,False,False,False,False,False,False,False
1597,False,False,False,False,False,False,False,False,False,False,False,False
1598,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
red_wine.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [ ]:
white_wine.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000

In [ ]:
# we are creating a new column called "quality_label", we define a range and associate that range with a label
red_wine['quality_label'] = red_wine['quality'].apply(lambda value: 'low'
if value <= 5 else 'medium'
if value <= 7 else 'high')

# here we are transforming these labels into categrical data type (specific to pandas) instead of simple string
red_wine['quality_label'] = pd.Categorical(red_wine['quality_label'],
categories=['low', 'medium', 'high'])

NameError: name 'red_wine' is not defined

In [ ]:
red_wine.head(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,quality_label
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,low
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,low
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,low
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,medium
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,low

In [15]:
# we are creating a new column called "quality_label", we define a range and associate that range with a label
white_wine['quality_label'] = white_wine['quality'].apply(lambda value: 'low'
if value <= 5 else 'medium'
if value <= 7 else 'high')

# here we are transforming these labels into categrical data type (specific to pandas) instead of simple string
white_wine['quality_label'] = pd.Categorical(white_wine['quality_label'],
categories=['low', 'medium', 'high'])

In [16]:
white_wine.head(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,quality_label
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,medium
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,medium
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,medium
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,medium
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,medium

In [30]:
pd.concat([red_wine[['residual sugar', 'total sulfur dioxide','sulphates', 'alcohol','volatile acidity','quality']].describe(), white_wine[['residual sugar', 'total sulfur dioxide','sulphates', 'alcohol','volatile acidity','quality']].describe()], axis=1, keys=["Red Wines Stats", "White Wines Stats"])

      Red Wines Stats                                                 \
       residual sugar total sulfur dioxide    sulphates      alcohol
count     1599.000000          1599.000000  1599.000000  1599.000000
mean         2.538806            46.467792     0.658149    10.422983
std          1.409928            32.895324     0.169507     1.065668
min          0.900000             6.000000     0.330000     8.400000
25%          1.900000            22.000000     0.550000     9.500000
50%          2.200000            38.000000     0.620000    10.200000
75%          2.600000            62.000000     0.730000    11.100000
max         15.500000           289.000000     2.000000    14.900000

                                    White Wines Stats                       \
      volatile acidity      quality    residual sugar total sulfur dioxide
count      1599.000000  1599.000000       4898.000000          4898.000000
mean          0.527821     5.636023          6.391415           138.360657
std           0.179060     0.807569          5.072058            42.498065
min           0.120000     3.000000          0.600000             9.000000
25%           0.390000     5.000000          1.700000           108.000000
50%           0.520000     6.000000          5.200000           134.000000
75%           0.640000     6.000000          9.900000           167.000000
max           1.580000     8.000000         65.800000           440.000000


         sulphates      alcohol volatile acidity      quality
count  4898.000000  4898.000000      4898.000000  4898.000000
mean      0.489847    10.514267         0.278241     5.877909
std       0.114126     1.230621         0.100795     0.885639
min       0.220000     8.000000         0.080000     3.000000
25%       0.410000     9.500000         0.210000     5.000000
50%       0.470000    10.400000         0.260000     6.000000
75%       0.550000    11.400000         0.320000     6.000000
max       1.080000    14.200000         1.100000     9.000000

In [ ]:
#sulfates and volatile acidity

In [48]:
# AVG of fixed acidiy for red wine is higher than for the white wine/ std big difference

# Fixed acidity: acids are major wine properties and contribute greatly to the wine’s taste. Usually, the total acidity is divided into 
# two groups: the volatile acids and the nonvolatile or fixed acids. Among the fixed acids that you can find in wines are the following:
# tartaric, malic, citric, and succinic. This variable is expressed in g(tartaricacid)/dm3 in the data sets.

pd.concat([red_wine[['fixed acidity']].describe(), white_wine[['fixed acidity']].describe()], axis=1, keys=["Red Wines Stats", "White Wines Stats"])

      Red Wines Stats White Wines Stats
        fixed acidity     fixed acidity
count     1599.000000       4898.000000
mean         8.319637          6.854788
std          1.741096          0.843868
min          4.600000          3.800000
25%          7.100000          6.300000
50%          7.900000          6.800000
75%          9.200000          7.300000
max         15.900000         14.200000

In [45]:
# AVG free sulfur dioxide for white wine is two times higher than the red whine/std also higher for white wine
# Free sulfur dioxide: the part of the sulfur dioxide that is added to a wine and that is lost into it is said to be bound, 
# while the active part is said to be free. The winemaker will always try to get the highest proportion of free sulfur to bind. 
# This variable is expressed in mg/dm3 in the data.

pd.concat([red_wine[['free sulfur dioxide']].describe(), white_wine[['free sulfur dioxide']].describe()], axis=1, keys=["Red Wines Stats", "White Wines Stats"])

          Red Wines Stats   White Wines Stats
      free sulfur dioxide free sulfur dioxide
count         1599.000000         4898.000000
mean            15.874922           35.308085
std             10.460157           17.007137
min              1.000000            2.000000
25%              7.000000           23.000000
50%             14.000000           34.000000
75%             21.000000           46.000000
max             72.000000          289.000000

In [44]:
# avg cloride is higher for the red wine compared to the white wine also std
# Chlorides can be a significant contributor to saltiness in wine. Here, you’ll see that it’s expressed in g(sodiumchloride)/dm3

pd.concat([red_wine[['chlorides']].describe(), white_wine[['chlorides']].describe()], axis=1, keys=["Red Wines Stats", "White Wines Stats"])

      Red Wines Stats White Wines Stats
            chlorides         chlorides
count     1599.000000       4898.000000
mean         0.087467          0.045772
std          0.047065          0.021848
min          0.012000          0.009000
25%          0.070000          0.036000
50%          0.079000          0.043000
75%          0.090000          0.050000
max          0.611000          0.346000

In [42]:
# avg residual sugar us 3 times higher for white wine also std
pd.concat([red_wine[['residual sugar']].describe(), white_wine[['residual sugar']].describe()], axis=1, keys=["Red Wines Stats", "White Wines Stats"])

      Red Wines Stats White Wines Stats
       residual sugar    residual sugar
count     1599.000000       4898.000000
mean         2.538806          6.391415
std          1.409928          5.072058
min          0.900000          0.600000
25%          1.900000          1.700000
50%          2.200000          5.200000
75%          2.600000          9.900000
max         15.500000         65.800000

In [50]:
pd.concat([red_wine[['quality']].describe(), white_wine[['quality']].describe()], axis=1, keys=["Red Wines Stats", "White Wines Stats"])

      Red Wines Stats White Wines Stats
              quality           quality
count     1599.000000       4898.000000
mean         5.636023          5.877909
std          0.807569          0.885639
min          3.000000          3.000000
25%          5.000000          5.000000
50%          6.000000          6.000000
75%          6.000000          6.000000
max          8.000000          9.000000

In [52]:
pd.concat([red_wine[['citric acid']].describe(), white_wine[['citric acid']].describe()], axis=1, keys=["Red Wines Stats", "White Wines Stats"])

      Red Wines Stats White Wines Stats
          citric acid       citric acid
count     1599.000000       4898.000000
mean         0.270976          0.334192
std          0.194801          0.121020
min          0.000000          0.000000
25%          0.090000          0.270000
50%          0.260000          0.320000
75%          0.420000          0.390000
max          1.000000          1.660000

In [53]:
pd.concat([red_wine[['sulphates', 'volatile acidity']].describe(), white_wine[['sulphates', 'volatile acidity']]], axis=1, keys=["Red Wines Stats", "White Wines Stats"])

      Red Wines Stats                  White Wines Stats
            sulphates volatile acidity         sulphates volatile acidity
count     1599.000000      1599.000000               NaN              NaN
mean         0.658149         0.527821               NaN              NaN
std          0.169507         0.179060               NaN              NaN
min          0.330000         0.120000               NaN              NaN
25%          0.550000         0.390000               NaN              NaN
...               ...              ...               ...              ...
4893              NaN              NaN              0.50             0.21
4894              NaN              NaN              0.46             0.32
4895              NaN              NaN              0.46             0.24
4896              NaN              NaN              0.38             0.29
4897              NaN              NaN              0.32             0.21

[4906 rows x 4 columns]

In [54]:
pd.concat([red_wine.iloc[:,[2,4]].describe(), white_wine.iloc[:,[2,4]]], axis=1, keys=["Red Wines Stats", "White Wines Stats"])

      Red Wines Stats              White Wines Stats
          citric acid    chlorides       citric acid chlorides
count     1599.000000  1599.000000               NaN       NaN
mean         0.270976     0.087467               NaN       NaN
std          0.194801     0.047065               NaN       NaN
min          0.000000     0.012000               NaN       NaN
25%          0.090000     0.070000               NaN       NaN
...               ...          ...               ...       ...
4893              NaN          NaN              0.29     0.039
4894              NaN          NaN              0.36     0.047
4895              NaN          NaN              0.19     0.041
4896              NaN          NaN              0.30     0.022
4897              NaN          NaN              0.38     0.020

[4906 rows x 4 columns]

In [55]:
pd.concat([red_wine[['sulphates', 'volatile acidity']].describe(), white_wine[['sulphates', 'volatile acidity']]], keys=["Red Wines Stats", "White Wines Stats"])

                           sulphates  volatile acidity
Red Wines Stats   count  1599.000000       1599.000000
                  mean      0.658149          0.527821
                  std       0.169507          0.179060
                  min       0.330000          0.120000
                  25%       0.550000          0.390000
...                              ...               ...
White Wines Stats 4893      0.500000          0.210000
                  4894      0.460000          0.320000
                  4895      0.460000          0.240000
                  4896      0.380000          0.290000
                  4897      0.320000          0.210000

[4906 rows x 2 columns]

In [ ]:
"C:\Users\gabb_"